.welcome-text {
    height: 180px;
    justify-content: space-evenly;

    .top {
        position: relative;
        top: 0.5rem;
    }
}
.border {
    border: 1px solid lightgray;
}
.login-btn {
    width: 10rem;
    background-color: #F57200;
    color: white;
}