.hp {

    &.flex {
        display: flex;

        &.h-center {
            justify-content: center;
        }
        &.v-center {
            align-items: center;   
        }
        &.flex-start {
            justify-content: flex-start;
        }
        &.flex-end {
            justify-content: flex-end;
        }
        
    }
    &.flex-column {
        display: flex;
        flex-direction: column;

        &.v-center {
            justify-content: center;
        }
        &.h-center {
            align-items: center;   
        }
        &.flex-start {
            align-items: flex-start;
        }
        &.flex-end {
            align-items: flex-end;
        }
    }
}

// Text
.hp {
    &.text-center {
        text-align: center;
    }
    &.text-left {
        text-align: left;
    }
    &.text-right {
        text-align: right;
    }

}

