.hp {
    // &.btn-padding_5 {
    //     @extend .padding_5
    // }

    .btn {
        @extend .padding_5;
        @extend .border-radius1_1;
        border: none;
        min-width: 100px;
        background-color: white;
        color: $dark-color;
    }
    .btn-primary {
        @extend .primary-contrast;
    }
    .btn-primary-inverse {
        @extend .primary-contrast-inverse;
    }
    .btn-success {
        background-color: #21be31;
        color: white;
    }
}