$columns: 12;

@function getWidth($size) {
    @return $size / ($columns / 100);
}

@mixin makeColumns($grid-def) {
    @each $size, $pixels in $grid-def {
        @media screen and (min-width: $pixels) {
            @for $i from 1 to $columns + 1 {
                .col-#{$size}-#{$i} {
                    position: relative;
                    display: inline-block;
                    width: percentage(getWidth($i) / 100);
                }
            }
        }
    }
}

.hp {
    &.row {
        position: relative;
        width: 100%;
        box-sizing: border-box;

        $grid-def: (
            na: "200px",
            mc: "320px",
            xs: "480px",
            md: "992px",
            sm: "768px",
            lg: "1200px",
        );

        @include makeColumns($grid-def);

    }
    &.col {
        position: relative;
        height: 100%;
        box-sizing: border-box;
    }
}
