.hp {
    &.abs {
        position: absolute;
    }
    &.rel {
        position: relative;
    }

    $position: (
        "bottom", "top", "left", "right"
    );

    @include generator($position, null, -100);
}
