.hp {
    $selectors: (
        "padding", "padding-bottom", "padding-top", "padding-left", "padding-right", 
        "margin", "margin-bottom", "margin-top", "margin-left", "margin-right", 
        "font-size");

    @include generator($selectors);
    
    &.fit-content {
        width: fit-content;
    }
    &.no-margin {
        margin: 0;
    }
    &.no-padding {
        padding: 0;
    }

    $selectors: ("flex");

    @each $selector in $selectors {
        @for $i from 1 to 31 {
            &.flex#{$i} {
                flex: $i;
            }
        }
    }
}
