@function delimeterValue($i) {

    $sel: $i;

    @if ($sel < 10) {
        @return _#{$sel};
    } @else if ($i < 100) {
        $sel: floor($i / 10);
        $dec: $i % 10;
        @if ($dec != 0) {
            @return #{$sel}_#{$dec};
        }
        @return $sel;
    } @else if ($sel >= 100) {
        @return $sel / 10;
    }

}

.hp {
    $selectors: ("padding", "margin", "font-size", "border-radius");

    @each $selector in $selectors {
        @for $i from 1 to 101 {
            &.#{$selector}#{delimeterValue($i)} {
                #{$selector}: #{$i / 10}rem;
            }
        }
    }
    &.fit-content {
        width: fit-content;
    }
    &.no-margin {
        margin: 0;
    }
    &.no-padding {
        padding: 0;
    }
}
