.hp {
    $padding: (
        "padding", "padding-bottom", "padding-top", "padding-left", "padding-right", 
    );
    $margin: (
        "margin", "margin-bottom", "margin-top", "margin-left", "margin-right", 
    );

    @include generator($padding);
    @include generator($margin, null, -10);
    
    &.fit-content {
        width: fit-content;
    }
    &.no-margin {
        margin: 0;
    }
    &.no-padding {
        padding: 0;
    }

    $selectors: ("flex");

    @each $selector in $selectors {
        @for $i from 1 to 31 {
            &.flex#{$i} {
                flex: $i;
            }
        }
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.flex-wrap-inverse {
        flex-wrap: wrap-reverse;
    }
}
