.hp {
    $font: (
        "font-size"
    );

    @include generator($font);
    
    &.bold {
        font-weight: bold;
    }
    &.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
