@function delimeterValue($i) {

    @if ($i == 0) {
        @return $i;
    }
    
    $neg: 0;
    
    @if ($i < 0) {
        $neg: 1;
        $i: $i * (-1);
    }
    $sel: $i;
    
    $prefix: 0;
    $dec: 0;


    @if ($sel < 10) {
        $prefix: 1;
    } 
    
    @else {
        $sel: floor($sel / 10);

        @if ($i % 10 != 0) {
            $dec: $i % 10;
            
        }
    } 
    
    @if ($neg == 1) {
        $sel: $sel * (-1);
    }

    @if ($prefix == 1) {
        $sel: _#{$sel};
    }

    @if ($dec > 0) {
        $sel: #{$sel}_#{$dec};
    }

    @return $sel;

}

@function propper($prop_list) {
    $prop_string: "";

    @each $prop in $prop_list {
        $prop_string: unquote($prop_string + " " + $prop);
    }

    @return $prop_string;
}

@mixin generator($selectors, $props:null, $from: 1, $to: 100) {
    @each $selector in $selectors {
        @for $i from $from to $to + 1 {
            &.#{$selector}#{delimeterValue($i)} {
                $prop_string: "";

                @if ($props) {
                    $prop_string: propper($props);
                }
                #{$selector}: #{$i / 10}rem unquote($prop_string);
            }
        }
    }
}