@import './hp-grid.scss';
@import './hp-align.scss';
@import './hp-relation.scss';
@import './hp-text.scss';
@import './hp-btn.scss';

.hp {

    &.flex {
        display: flex;
    }
    &.flex-column {
        display: flex;
        flex-direction: column;
    }
}
