$primary-color: #f57200;
$secondary-color: #fbb26e;

@mixin _flex($direction: row, $jc: unset, $ai: unset) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
}

._mi_flex_r {
    @include _flex;
}
._mi_flex_c {
    @include _flex(column);
}
._mi_flex_r-center {
    @include _flex(row, center, center);
}
._mi_flex_r-center-x {
    @include _flex(row, center);
}
._mi_flex_r-center-y {
    @include _flex(row, null, center);
}
._mi_flex_c-center {
    @include _flex(column, center, center);
}
._mi_flex_c-center-x {
    @include _flex(column, null, center);
}
._mi_flex_c-center-y {
    @include _flex(column, none);
}


.hp {

    &.screen-center {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.padded20 {
    padding: 20;
}