{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "58",
                }
            }
        ]
    ],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}